.app_wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas: 
  "head head"
  "nav cont";

  grid-template-rows: 60px 2fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: head;
  background-color: green;
}

.nav {
  grid-area: nav;
  background-color: blue;
}

.profile {
  grid-area: cont;
  background-color: red;
}
.content_img_main{
  width: 100%;
  height: auto;
  object-fit: cover;
}