.app_wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas: 
  "head head"
  "nav cont";

  grid-template-rows: 60px 2fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: head;
  background-color: rgb(109, 242, 65);
}

.nav {
  grid-area: nav;
  background-color: rgb(109, 242, 65);
}

.profile {
  grid-area: cont;
  background-color: rgb(181, 184, 181);
}
.content_img_main{
  width: 100%;
  height: auto;
  object-fit: cover;
}